.App {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 10px;
}

#form-wrap form {
  max-width: 370px;
}
#form-wrap form .alert-label{
  color: red;
}
#form-wrap form input {
  width: 350px;
  height: 30px;
  margin-top: 5px;
  padding: 5px;
}
#form-wrap form #submitBtn{
  font-weight: bold;
  padding: 5px 30px;
  cursor: pointer;
}
#form-wrap form #submitBtn:disabled{
  cursor: default;
}
#table-wrap #cards {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  margin-top: 10px;
}

#table-wrap #cards td, #cards th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-wrap #cards th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #dedede;
}


